body {
    background-color : aliceblue;
    margin: 0;
    font-family: Arial, sans-serif;
}

.btn{
    background-color: #6db871;
    border-radius: 5px;
    font-size: 130%;
    min-height: 7%;
    cursor : pointer;
}

.btn:hover {
    background-color: #3e8141;
}

.title1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paragraph{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header */ 

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    flex-direction: row;
    position : fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    max-width: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 15px;
}

.nav-links li {
    margin: 10px;
    margin-bottom : 2px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 8px 12px;
}

.nav-links a:hover {
    background-color: rgb(176, 176, 176);
    border-radius: 5px;
}

#buttonLogin {
    padding: 8px 15px;
    color: black;
    text-decoration: none;
}